.aboutimg{
width:380px;
height: 500px;
border-radius:20px;

}
*
{
  box-sizing: border-box;
}

.secimage
{
    width: 450px;
    height: 400px;
    
}
.secabout{
display:flex;
align-items:center;
justify-content:center;
gap:80px;
padding:60px;
}
.aboutpara{
max-width:700px;
font-size:18px;
line-height:1.7;
color:#333;
}

.About {
  position: relative;
 
  font-size: 36px;             
  margin-bottom: 20px;
 margin: auto;
}

.About::after {
  content: '';
  position: absolute;
  left: 50%;                  
  bottom: -8px;                 
  width: 10%;                    
  height: 4px;                  
background: #f5c542;
  transform: translateX(-50%) skewX(-20deg);
  transform-origin: left;
}
 .About{
    text-align:center;
    font-size:40px;
    margin-top:90px;
}
.btncontainer{
text-align:center;
margin-top:20px;
}


 @media (max-width: 720px) {
    .secabout {
        flex-direction: column;       
        align-items: center;         
        gap: 20px;
        padding: 20px;
    }

    .secimage img,
    .aboutimg {
        width: 80%;                   
        max-width: 300px;
        display: block;
        margin: 0 auto; 
        height: 400px;              
    }

    .About {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }
    .About {
    font-size: 32px;
  }

  .About::after {
    width: 25%;           
    height: 3px;         
  }

    .aboutpara {
        font-size: 16px;
        text-align: center;
    }

    .btncontainer {
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 721px) and (max-width: 1024px) {
    .secabout {
        flex-direction: row;          
        align-items: center;
        gap: 25px;
        padding: 30px;
    }

    .secimage img,
    .aboutimg {
        width: 280px; 
        height: 420px;   
        margin-bottom: 20px;           
    
    }
     .About {
    font-size: 28px;
  }

  .About::after {
    width: 10%;           
    height: 3px;
  }
    .About {
        font-size: 32px;
        text-align: center;           
    }

    .aboutpara {
        font-size: 17px;
    }

    .btncontainer {
        justify-content: flex-start;   
    }
}